# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Env
.env

# Go
*.exe
*.test
*.out

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform/terraform.tfvars

# Python cache
__pycache__/
*.pyc